body {
    height: 100vh;
    background: linear-gradient(
        to bottom, 
        white 10%,
        #ffebcd 80%,
        #ffebcd 70%,
        #a8ada8 100%
    );
}
.container {
    width: fit-content;
    height: fit-content;
    background: white

}
h1 {
    text-align: center;
    font-size: 50px;
}
p { 
    font-size: 32px;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}
